@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/*
  theme is a way to add custom colors, fonts, etc.
  learn more at:
  https://tailwindcss.com/docs/theme
  https://tailwindcss.com/docs/adding-custom-styles

  2 ways add custom theme:
  1. add our own custom theme under @theme with variable name that are different from default
  2. OVERRIDE default theme by redefining it within @theme
*/
@theme {
  /* custom colors */
  --color-miwulmajoo: #49e659;

  /* override default theme */
  --breakpoint-sm: 30rem;
}

/* custom component classes 
  Traditionally these would be classes like card, btn, badge — that kind of thing.
*/
@layer components {
  .custom-btn {
    background-color: var(--color-miwulmajoo);
  }
}

/* custom utility classes */
@layer base {
  /* import custom font */
  html {
    font-family: "Poppins", sans-serif;
  }

  /* set a default styling for ALL h1, h2, anchor, .btn */
  h1 {
    @apply text-3xl font-bold mb-2;
  }

  h2 {
    @apply text-xl font-semibold mb-1;
  }

  a {
    @apply underline text-blue-600 hover:text-purple-500 transition underline-offset-4;
  }

  .btn {
    @apply px-4 py-2 rounded-lg;
  }

  .btn:hover {
    @apply transition duration-300 opacity-80;
  }

  .btn:disabled {
    @apply bg-slate-400/30 hover:opacity-100;
  }

  .btn-primary {
    @apply bg-blue-600 text-white;
  }

  .btn-secondary {
    @apply bg-slate-600 text-white;
  }
}
