@import "tailwindcss";

/* learn more at:
   https://tailwindcss.com/docs/theme
   https://tailwindcss.com/docs/adding-custom-styles
*/
@theme {
  --color-miwulmajoo: #49e659;
}

/* custom component classes 
  Traditionally these would be classes like card, btn, badge — that kind of thing.
*/

@layer components {
  .btn {
    background-color: var(--color-miwulmajoo);
  }
}
